.filter-row-grid .x-grid3-header {
    background: #f9f9f9 url(/images/icons/16x16/filter-row-hrow.gif) repeat-x left top;
}

.filter-row-grid .filter-row-header {
    height: 26px;
}

tr.filter-row-header .filter-row-icon input {
    background-image: url(/images/icons/16x16/find.png);
    background-repeat: no-repeat;
    padding-left: 16px;
}
