@charset "utf-8";
/* CSS Document */
*
{
	padding:0;
	margin:0;
}

.body
{
	float:left;
	position:relative;
	width:100%;
	height:auto;
	min-width:1024px;
}

.upper
{
	float:left;
	position:relative;
	width:100%;
	height:50vh;
}
.bg-1
{
	position:absolute;
	width:100%;
	height:50vh;
	background:#e2f5f9;
	opacity:1;
	/*
	background:#e2f5f9;
	background-color:black;
background-image:
radial-gradient(white, rgba(255,255,255,.2) 1px, transparent 40px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 40px),
radial-gradient(white, rgba(255,255,255,.1) 1px, transparent 40px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 1px, transparent 10px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;*/
}
.bg-2
{
	position:absolute;
	width:100%;
	height:50vh;
	background:#D9D9D9;
	/*background:url(../image/night.png);*/
	opacity:0;
	/*background:red;
		background-color:black;
background-image:
radial-gradient(white, rgba(255,255,255,.25) 1px, transparent 40px),
radial-gradient(white, rgba(255,255,255,.35) 1px, transparent 40px),
radial-gradient(white, rgba(255,255,255,.10) 1px, transparent 40px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 1px, transparent 40px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;*/
}

.bg-3
{
	position:absolute;
	width:100%;
	height:50vh;
	background:#C0C0C0;
	/*background:url(../image/night.png);*/
	opacity:0;
}

.bg-4
{
	position:absolute;
	width:100%;
	height:50vh;
	background:#A0A0A0;
	/*background:url(../image/night.png);*/
	opacity:0;
}





.bottom
{
	float:left;
	width:100%;
	height:50vh;
	background:#71a000;
}

.login-form
{
	position:absolute;
	right:100px;
	bottom:34vh;
	width:380px;
	height:250px;
	background:#fff;
	border:1px solid #ccc;
	/*border-radius:5px;*/
	padding:10px 20px 10px 20px;
	margin-left:0px !important;
	
}

.image-box
{
	position:absolute;
	left:50px;
	bottom:33vh;
	/*width:27%;*/
	height:250px;
}

.image-box img#hospital
{
	width:200px;
	height:200px;
}

.image-box img.tree
{
	position:relative;
	left:-10px;
	top:-8px;
	width:80px;
	height:80px;
}

.image-box img.ntree
{
	position:relative;
	left:10px;
	top:-8px;
	width:80px;
	height:80px;
}

.input-group
{
	margin-bottom:20px;
}

.box-logo{
position:absolute;
width:43%;
height:auto;
left:51vh;
top:41.5vh;	
}

.logo
{
position:relative;
	left:1px;
	top:15px;
	width:295px;
	height:90px;
	padding:20px 10px;
}