@charset "utf-8";
/* CSS Document */
*
{
	padding:0;
	margin:0;
}


body
{

}

.body
{
	float:left;
	position:relative;
	width:100%;
	height:auto;
	min-width:1024px;
}

.upper
{
	float:left;
	position:relative;
	width:100%;
	height:50vh;
}
.bg-1
{
	position:absolute;
	width:100%;
	height:50vh;
	background:#e2f5f9;
	opacity:1;
}
.bg-2
{
	position:absolute;
	width:100%;
	height:50vh;
	background:red;
	opacity:0;	
}

#form1
{
	margin-top:-15px;
	margin-bottom:28px;
}

#form3
{
	margin-top:0px;
	margin-bottom:10px;
}

.notif
{
	padding:10px 0;
	color:#A94442;
	margin:5px 0px 1px 2px;
}


.form-login
{
	position:relative;
	margin:0px 0px;
	border:1px solid #ccc;
	padding:10px 10px 38px 10px;
	margin-bottom:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	
}

.btn
{
	border-radius:0px !important;
}

input[type=text]
{
	border-radius:0px !important;
}

span
{
	border-radius:0px !important;
}

input[type=submit]
{
	border-radius:0px !important;
}

input[type=radius]
{
	border-radius:0px;
}

a
{
	border-radius:0px !important;
}

.header-content
{
	
padding: 5px 15px; 
font-size: 14px;
font-weight: normal;
line-height: 1;
/* color: #555; */
text-align: left;
/* background-color: #eee; */
border-bottom: 1px solid #ccc;
/* border-radius: 4px; */
margin: 0 -15px;
margin-bottom: 8px;
background:#ECECEC;

}

.header-login
{
padding: 5px 12px 5px 12px;
font-size: 14px;
font-weight: normal;
line-height: 1;
/* color: #555; */
text-align: center;
/* background-color: #eee; */
border-bottom: 1px solid #ccc;
/* border-radius: 4px; */
margin: 0 -10px;
margin-bottom: 15px;
margin-top:-10px;

}

.subcontent
{
	border:1px solid #ccc;
		padding-bottom:10px;
		margin-right:3px;
}

.header-login-reffid
{
padding: 5px 12px;
font-size: 14px;
font-weight: normal;
line-height: 1;
text-align: center;
border: 1px solid #BBB;
margin: -10px 0px 15px;
/*background:#101010;
background-image:linear-gradient(to bottom, #C4C4C4 0px, #FFF 100%);
background-repeat: repeat-x;*/
border-top:0px;
color:#000;
}

.user-window
{

	text-align:center; 
	margin:0 auto; 
	margin-top:18px;
	padding-top:0px;
}

.user-window span
{
	line-height:1.5em;
}
.content
{
	float:left;
	position:relative;
	height:auto;
	
	margin:0 15px;
	margin-bottom:10px;
}

.slider
{
	margin-bottom: 30px;

	
}

#img
{
	height:50px;
	width:220px;
	padding:6px 0;

}

/*

.login-form
{
	position:absolute;
	right:100px;
	bottom:34vh;
	width:380px;
	height:250px;
	background:#fff;
	border:1px solid #ccc;
	border-radius:5px;
	padding:10px 20px 10px 20px;
	margin-left:0px !important;
	
}

.bottom
{
	float:left;
	width:100%;
	height:50vh;
	background:#71a000;
}

.image-box
{
	left:50px;
	bottom:21vh;
	position:absolute;
	width:60%;
	height:350px;
}



.image-box img#hospital
{
	width:200px;
	height:200px;
}

.image-box img.tree
{
	position:relative;
	left:-10px;
	top:-8px;
	width:80px;
	height:80px;
}

.image-box img.ntree
{
	position:relative;
	left:10px;
	top:-8px;
	width:80px;
	height:80px;
}
*/

.input-group
{
	margin-bottom:20px;
}

.box-logo{
position:absolute;
width:43%;
height:auto;
left:52vh;
top:41.5vh;	
}

/*
.logo
{
position:relative;
	left:1px;
	top:15px;
	width:295px;
	height:90px;
	padding:20px 10px;
}*/