

html, body {
	font:normal 12px verdana;
	margin:0;
	padding:0;
	border:0 none;
	overflow:hidden;
	background-color: #e2e2e2;
	height:100%
}

img, img a {
	border:none;
}

p {
	margin:5px;
}
.icon_dash {
	background-image:url(../images/icons/16x16/dash.gif);
}
.icon_keu {
	background-image:url(../images/icons/16x16/table_refresh.png);
}
.icon_akun {
	background-image:url(../images/icons/16x16/book.png);
}
.icon_unit {
	background-image:url(../images/icons/16x16/application_go.png);
}
.icon_lapor {
	background-image:url(../images/icons/16x16/grid.png);
}

.icon_set {
	background-image:url(../images/icons/16x16/folder_wrench.png);
}
.tabs {
    background-image:url(../images/icons/16x16/tabs.gif ) !important;
}
.add {
    background-image:url(../images/icons/16x16/add.gif) !important;
}
.import{
    background-image:url(../images/icons/16x16/import.png) !important;
}

.option {
    background-image:url(../images/icons/16x16/plugin.gif) !important;
}
.refresh {
    background-image:url(../images/icons/16x16/refresh.gif) !important;
}
.remove {
    background-image: url(../images/icons/16x16/delete.gif) !important;
}
.save {
    background-image:url(../images/icons/16x16/save.gif) !important;
}
.saveexit {
    background-image:url(../images/icons/16x16/saveclose.png)!important;
}
.cost {
    background-image:url(../images/icons/16x16/cost2.png)!important;
}
.closeform {
    background-image:url(../images/closeform.png) !important;
}
.accordion {
    background-image:url(../images/accordian.gif) !important;
}
.file {
    background-image:url(../images/folder.gif) !important;
}
.New {
    background-image:url(../images/icons/16x16/image_add.png) !important;
}

.Edit_Tr {
    background-image:url(../images/icons/16x16/EditAset.gif) !important;
}
.find {
    background-image:url(../images/icons/16x16/find.png) !important;
}
.closeform {
    background-image:url(../images/icons/16x16/cross.gif) !important;
}
.print {
    background-image:url(../images/icons/16x16/CetakAset.gif) !important;
}
.approve {
    background-image:url(../images/icons/16x16/accept.png) !important;
}
.Informasi
{
  background-image:url(../images/icons/16x16/information.png) !important;
}
.AddRow
{
  background-image:url(../images/icons/16x16/AddRowAset.gif)!important;
}
.RemoveRow
{
  background-image:url(../images/icons/16x16/RemoveRowAset.gif) !important;
}

.StatusKuning
{
  background :url(../images/icons/16x16/kuning.png) 15px no-repeat !important;
}

.StatusMerah
{
  background :url(../images/icons/16x16/merah.png) 15px no-repeat !important;
}

.StatusHijau
{
  background :url(../images/icons/16x16/hijau.png) 15px no-repeat !important;
}
.StatusBiru
{
  background :url(../images/icons/16x16/biru.png) 15px no-repeat !important;
}
.StatusAbu
{
  background :url(../images/icons/16x16/abu.png) 15px no-repeat !important;
}
.StatusPink
{
  background :url(../images/icons/16x16/pink.png) 15px no-repeat !important;
}

.WO
{
  background :url(../images/icons/16x16/After.png) 6px no-repeat !important;
}

.BeforeWO
{
  background :url(../images/icons/16x16/Before.png) 6px no-repeat !important;
}

.Result
{
  background :url(../images/icons/16x16/After.png) 15px no-repeat !important;
}

.BeforeResult
{
  background :url(../images/icons/16x16/Before.png) 15px no-repeat !important;
}

.Bahasa
{
  background-image:url(../images/icons/16x16/Bahasa.png) !important;
}

.Utility
{
  background-image:url(../images/icons/16x16/Utility.png) !important;
}

.gantipasien
{
  background-image:url(../images/icons/16x16/user_delete.png) !important; 
}
.gantidok
{
  background-image:url(../images/icons/16x16/gantidok.gif) !important;
}
.Konsultasi
{
  background-image:url(../images/icons/16x16/konsultasi.png) !important;
}
.resep {
    background-image:url(../images/icons/16x16/resep.png)!important;
}
.capsule {
    background-image:url(../images/icons/16x16/capsule.png)!important;
}
.reuse {
    background-image:url(../images/icons/16x16/reuse.png)!important;
}
.my-label-style {
    font-weight: bold;
    color: red;
    text-align:center;
}
.CheckedGreen {
    background-image:url(../images/icons/16x16/checkedGreen.png) !important;
}
.CheckedRed {
    background-image:url(../images/icons/16x16/checkedRed.png) !important;
}
.Reset {
    background-image:url(../images/icons/16x16/reset.png) !important;
}
.Accept{
    background-image:url(../images/icons/16x16/accept.png) !important;
}
.Penerimaan{
    background-image:url(../images/icons/16x16/Penerimaan.png) !important;
}
.grid{
    background-image:url(../images/icons/16x16/grid.png) !important;
}




.accord-table {
	font:normal 12px verdana;
}

a { text-decoration:none; }
a:link, a:visited { color: black; }
a:hover, a:active { color: black; font-weight:bold; }
a:hover { background-color: none; }

.coolmenu{
	font:normal 12px verdana;
	width: 165px;
}

.coolmenu td{
	background-color:none;
	cursor:hand;
}

.coolmenu td a{
	text-decoration:none;
	color: white;
}

.coolmenu td#boxdescription{
	background: ivory;
	height: 25px;
	font-weight: normal;
}
.barmenu {
	font-size: 12px;
	font-weight: normal;
	background:url(../images/aset/asset_maint_web_bg_left_menu.png) repeat-x #FFF;
}

.barmenu td{
	background-color:none;
	cursor:hand;
}

.barmenu td a{
	text-decoration:none;
	border: 1px thick #9CF;
	cursor:hand;
	color: black;
	font-weight: bold;
}

.barmenutext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
}

.rptmenu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	/*background:url(../images/aset/bg_rightmenu.gif) repeat-x #FFF;*/
    background-image: url(../images/aset/main/MainForm_Medismart_Slice_07.png);
}

.rptmenu td{
	background-color:none;
	cursor:hand;
}

.rptmenu td a{
	text-decoration:none;
	border: 1px thick #9CF;
	cursor:hand;
	color: black;
	font-weight: bold;
}

.rptmenutext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
}

.userlogin {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #E1B7BB;
}

.HeaderCompany {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #FFFFFF;

	
}

.HeaderCompany2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #FFFFFF;
	
}

.SettingBahasa {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #070000;
}
.SettingBahasa a:link    { color: rgb(18, 14, 14); }
.SettingBahasa a:visited { color: rgb(0, 0, 0); }

.text-desc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: italic;
	font-weight: normal;
	color: #666;
	padding-left: 5px;
	padding-top: 5px;
}

.text-desc-legend {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #666;
	margin-top:0px;
}

#progress {
  position: fixed;
  z-index: 2147483647;
  top: 0;
  left: 0px;
  width: 0%;
  height: 2px;
  background: #0088CC;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-transition: width 500ms ease-out, opacity 400ms linear;
  -ms-transition: width 500ms ease-out, opacity 400ms linear;
  -o-transition: width 500ms ease-out, opacity 400ms linear;
  -webkit-transition: width 500ms ease-out, opacity 400ms linear;
  transition: width 500ms ease-out, opacity 400ms linear;
}